{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4>Login</h4>
          </div>
          <div class="card-body">           
            <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
              {% with form.non_field_errors as errors %}
                {% include "partials/_form_errors.html" %}
              {% endwith %}
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" autofocus required>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" required>
              </div>
              <input type="submit" value="Login" class="btn btn-success btn-block col-4 mx-auto">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}