/* comments */
.comment {
    padding:15px;
    font-size:18px;
}
.comment:nth-child(even) {
    background:#cdcdcd;
    color: black;
}
.comment:nth-child(even) .info {
    background:#cdcdcd;
    color: black;
}

.comment .info {    
    font-size:12px;
    color: black;
}
.red {	
	color: red;
}
.blue {	
	color: blue;
}
/* Side Bar */

#sidebar {    
    background-color:#f8f9fa;
    height: 100%;
    min-height:200px;
    padding:0;
}
.sidebar-header {
    background: #007bff;
    color: #fff;
    height: 60px;
    padding: 15px;
}

#sidebar p {	
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#sidebar hr {
	padding:0;
}

#content {
    padding-left: 30px;
    padding-right: 30px;
}
.hidden {
    display: none;
}

@media (max-width: 992px) {
    #sidebar {        
        margin: 20px 30px;
    }   
    #sidebar p {
        padding-top: 10px;    
    }  
}

/* For forms */
.form_fields input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form_fields textarea {
    display: block;
    width: 100%;
    height: calc(12.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
