{% extends 'base.html' %}

{% block content %}	
	{% for post in posts %}
	<div class="card mb-4">
	  <div class="card-header font-italic">	  	
	  	<span style="float:right;">{{post.created }}</span>
	    Posted by <a href="{% url 'posts_by_author' post.author.username %}"
	    {% if post.author_status == 'staff' %}
	    	class="red">
	    {% else %}
	    	class="blue">
	    {% endif %}{{post.author}}</a>		
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">{{post.title}}</h5>
	    <p class="card-text">{{post.body|truncatewords:15}}</p>
	    <a href="{{ post.get_absolute_url }}" class="btn btn-light">Read</a>
	  </div>
	  <div class="card-footer text-muted font-italic">
	  	{% if post.tags.all %}
	    	Теги: 
	    	{% for tag in post.tags.all %}
	    		<a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a> 	
	    	{% endfor %}
	    {% endif %}
	    {% with post.comments.all|length as comments %}
	        {% if comments > 0 %}
	    	<span style="float:right;">Comments: <span class="red">{{comments}}</span></span>
	    	{% endif %}
	    {% endwith %}	    
	  </div>
	</div>	
	{% endfor %}
	{% if page|length > 0 %}
		{% include "partials/_pagination.html" %}
	{% endif %}	
{% endblock content %}

