{% extends 'base.html' %}

{% block content %}
      <div class="col-lg-8 mx-auto">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4>New Post</h4>
          </div>
          <div class="card-body">
            
            <form action="" method="POST">
                {% csrf_token %}                
                <div class="form_fields">
                {% for field in form.visible_fields %} 
                	{{ field.label_tag }}                  
                    {{ field }}
                    <br />                    
                {% endfor %}
                </div>

              <input type="submit" value="Save" class="btn btn-success btn-block col-4 mx-auto">
            </form>
          </div>
        </div>
      </div>
{% endblock content %}