{% extends 'base.html' %}

{% load static %}

{% block content %} 
  <h2>{{ post.title }}</h2>
  <div class="border-bottom text-small pt-2 pb-2"> 
      Posted by  
      <a href="{% url 'posts_by_author' post.author %}"
      {% if post.author_status == 'staff' %}
        class="red">{{ post.author }}      
      {% else %}
        class="blue">{{ post.author }}
      {% endif %}</a>  
      on <span>{{ post.created | date }}</span>
      &nbsp;Comments: <span class="red">{{comments|length}}</span>
  </div>                     
  {% if post.photo %}
    <img src="{{ post.photo.url }}" class="img-fluid" />
  {% endif %}
  <p>{{ post.body|linebreaks }}</p>   
  <h5 class="mb-4 mt-4">Comments:</h5>

  {% for comment in comments.all %}
  <div class="card mb-4">
    <div class="card-header">
      <div class="text-small">
      <span style="float:right;">added {{ comment.created | date }}</span>
      Comment by  
      {% if comment.author_status == 'staff' %}
        <span class="red">{{ comment.name }}</span>
      {% elif comment.author_status == 'user' %}  
        <span class="blue">{{ comment.name }}</span>
      {% else %}
        {{ comment.name }}
      {% endif %} 
      </div>  
    </div>
    <div class="card-body">      
      <p class="card-text">{{ comment.body|linebreaks }}</p>              
    </div>
    <div class="card-footer text-muted">     
    </div>
  </div>    
  {% empty %}
    <div class="card mb-4">
      <div class="card-header">    
      </div>
      <div class="card-body">        
        <p class="card-text">There are no comments yet.</p>              
      </div>
      <div class="card-footer text-muted">        
      </div>
    </div>
  {% endfor %}     
  </div>    

  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4>Add a new comment</h4>
          </div>
          <div class="card-body">            
            <form action="." method="POST">
                {% csrf_token %}               
                {% for field in comment_form.visible_fields %}
                    {% with field.errors as errors %}
                      {% include "partials/_form_errors.html" %}
                    {% endwith %}                    
                    {{ field }}
                    <br />                    
                {% endfor %}               
              <input type="submit" value="Add comment" class="btn btn-success btn-block col-4 mx-auto">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}