{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4>Sign up</h4>
          </div>
          <div class="card-body">            
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                {% with form.non_field_errors as errors %}
                    {% include "partials/_form_errors.html" %}
                {% endwith %} 
                <div class="form_fields">
                {% for field in form.visible_fields %}
                    {% with field.errors as errors %}
                        {% include "partials/_form_errors.html" %}
                    {% endwith %}
                    {{ field.label_tag }} 
                    <p>{{ field }}</p>                    
                {% endfor %}
                </div>
              <button type="submit" class="btn btn-success btn-block col-4 mx-auto">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}