{% extends "base.html" %}

{% block content %}
<section id="signup" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4>
              <i class="fas fa-sign-in-alt"></i> Sign up</h4>
          </div>
          <div class="card-body">
            
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div id="message" class="container">
                    <div class="alert alert-danger alert-dismissible text-center" role="alert"> 
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Error: </strong>                            
                    <ul class="list-unstyled">
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
                {% endif %}                                
                <div class="form_fields">
                {% for field in form.visible_fields %}
                    <p>{{ field.label_tag }}</p>                    
                    <p>{{ field.errors }}</p>                    
                    <p>{{ field }}</p>
                    <p>{{ field.help_text }}</p>
                {% endfor %}
                </div>
              <button type="submit" class="btn btn-success btn-block">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}