{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4>Sign up</h4>
          </div>
          <div class="card-body">            
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                {% with form.non_field_errors as errors %}
                    {% include "partials/_form_errors.html" %}
                {% endwith %} 
                <div class="form-group">
                    {% with form.username.errors as errors %}
                        {% include "partials/_form_errors.html" %}
                    {% endwith %}
                    <label for="id_username">Username:</label>
                    <input type="text" name="username" class="form-control"maxlength="150" autofocus required id="id_username">
                </div>

                <div class="form-group">
                    {% with form.password1.errors as errors %}
                        {% include "partials/_form_errors.html" %}
                    {% endwith %}
                    <label for="id_password1">Password:</label>
                    <input type="password" name="password1" class="form-control" required id="id_password1">
                </div>
                 
                <div class="form-group">
                    {% with form.password2.errors as errors %}
                        {% include "partials/_form_errors.html" %}
                    {% endwith %}
                    <label for="id_password2">Password confirmation:</label>
                    <input type="password" name="password2" class="form-control" required id="id_password2">
                </div>
              <button type="submit" class="btn btn-success btn-block col-4 mx-auto">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}